<html ng-app="loja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<h1>Pedidos Cadastrados</h1>

<br/>
<br/>

<label>Filtro <input class="form-control" type="text" ng-model="filtro"></label><br>

<br/>

<div ng-controller="lojaController" ng-init="listarPedidos()">

	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Cliente</th>
				<th>R$</th>
				<th>Remover</th>
				<th>Imprimir</th>
			</thead>
			<tbody>
				<tr ng-repeat="pedido in pedidosData | filter:filtro"> 
					<td>{{pedido.id}}</td>
					<td>{{pedido.cliente.nome}}</td>
					<td>{{pedido.valorTotal}}</td>
					<td>
						<a href ng-click="removerPedido(pedido.id);">
						 	<img alt="Remover" src="resources/img/delete-icon.png" border="0">
						</a>
					</td>
					<td>
						<a  href="imprimirPedido/pedido/{{pedido.id}}">
						 	<img alt="Editar" src="resources/img/icone-pdf.png" width="40px;" height="40px;" border="0">
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
</html>
