<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>Cadastro de fornecedor</h1>
<a href="#fornecedorlist"> Lista de fornecedores <img alt="Novo"
	src="resources/img/list-icon.png" border="0">
</a>

<br />
<br />

<div class="col-lg-9 col-md-8"  ng-init="carregarEstados();">
	<div class="card">
		<div class="content">
			<form id="formFornecedor" ng-submit="salvarFornecedor();">
				<div class="row">
				
					<div class="col-md-3">
						<div class="form-group">
							<img alt="Foto" id="imagemFornecedor" src=""  style="width: 118px;height: 140px;" border="0">
							<input type="file"  id="file"  onchange="javascript:visualizarImg();">
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="form-group">
							<label>Id</label> <input type="text" ng-model="fornecedor.id"
								class="form-control border-input" disabled />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Razão Social</label> <input type="text" ng-model="fornecedor.razaoSocial"
								class="form-control border-input" placeholder="Razão Social"
								required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="fantasia">Nome Fantansia</label> <input type="text"
								required="required" class="form-control border-input"
								ng-model="fornecedor.nomeFantasia" placeholder="Nome Fantansia">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="endereco">Endereço</label> <input type="text"
								required="required" class="form-control border-input"
								ng-model="fornecedor.endereco" placeholder="Endereço">
						</div>
					</div>
				</div>
				

				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label>Telefone</label> <input type="text" id="telefone"
								ng-model="fornecedor.telefone" class="form-control border-input"
								placeholder="Telefone" required="required">

						</div>
					</div>
					
					
					<div class="col-md-5">
						<div class="form-group">
							<label>Cnpj</label> <input type="text" id="cnpj"
								ng-model="fornecedor.cnpj" class="form-control border-input"
								placeholder="Cnpj" required="required">
						</div>
					</div>
					
					
					<div class="col-md-1">
						<div class="form-group">
							<label>Ativo</label> 
							<input type="checkbox" class="form-control" ng-model="fornecedor.ativo">						
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-7">
						<div class="form-group">
							<label>Insrição Estadual</label> 
							<input type="number" class="form-control" id="cpf" name="cpf" ng-model="fornecedor.inscricaoEstadual" placeholder="Insrição Estadual">						
						</div>
					</div>
			   </div>		
				
				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group"> 
						   <label>Estado</label> 
							<select ng-model="fornecedor.estados.id"
							 id="selectEstados"
							  class="form-control" onchange="javascript:carregarCidadesChrome(this);"> 
							  <option value="">Selecione</option> 
							  <option
							  	ng-repeat="est in dataEstados"  
							  	ng-click="carregarCidades(est)"
							  	value="{{est.id}}">{{est.sigla}}
							  </option>
							</select>	
						</div>
					</div>
					
					<div class="col-md-5">
						<div class="form-group"> 
						   <label>Cidades</label> 
							<select id="selectCidades" ng-model="fornecedor.cidades.id" 
							class="form-control"> 
							<option value="">Selecione</option>
							  <option
								  ng-repeat="cid in cidades"
								  value="{{cid.id}}">{{cid.nome}}</option>
							</select>	
						</div>
					</div>
					
				</div>
				
				
				
				<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
				<button type="submit" class="btn btn-info btn-fill btn-wd"
					ng-click="$scope.fornecedor={}">Limpar</button>
			</form>
		</div>
	</div>
 <script type="text/javascript">
 	$('#telefone').mask('(99) 9999-9999');
 	$('#cnpj').mask('999.999.999/9999-9');
 </script>	
</html>