<html ng-app="loja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>Lista de Fornecedor</h1>


<a href="#fornecedor/cadastro">Novo
<img alt="Novo" src="resources/img/add-icon.png" border="0">
</a>

<br/>
<br/>
<label>Filtro <input class="form-control" type="text" ng-model="filtro"></label><br>
<br/>

<div ng-controller="fornecedorController" ng-init="listarFornecedor(1)">

	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Foto</th>
				<th>Razação Social</th>
				<th>Cnpj</th>
				<th>Telefone</th>
				<th>Remover</th>
				<th>Editar</th>
			</thead>
			<tbody>
				<tr ng-repeat="fornecedor in data | filter:filtro"> 
					<td>{{fornecedor.id}}</td>
					<td><img src="{{fornecedor.foto}}" style="width: 40px; height: 43px"/></td>
					<td>{{fornecedor.razaoSocial}}</td>
					<td>{{fornecedor.cnpj}}</td>
					<td>{{fornecedor.telefone}}</td>
					<td> <a href ng-click="removerFornecedor(fornecedor.id);">Apagar
					 <img alt="Remover" src="resources/img/delete-icon.png" border="0">
					</a></td>
					<td> <a href ng-click="editarFornecedor(fornecedor.id);">Editar
					 <img alt="Editar" src="resources/img/edit-icon.png" border="0">
					</a></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
		   <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="anterior();">Anterior</button>
		   <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="proximo();">Próximo</button>
		</div>   
	</div>

</div>
</html>
