<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx = "http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<context:annotation-config />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	 
	<mvc:resources location="/resources/" mapping="/resources/**" cache-period="5000" />

	<context:component-scan base-package="curso.angular.dao" />
	<context:component-scan base-package="curso.angular.controller" />

	<!-- Data Source -->
	<bean id="springDataSource" name="springDataSource" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="false">
		<property name="jndiName">
			<value>java:comp/env/jdbc/datasouce</value> 
		</property>
	</bean>
	
	<bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate" lazy-init="false"> 
    	<property name="dataSource" ref="springDataSource"/> 
    	<property name="baselineOnMigrate" value="true"/>  
    	<property name="table" value="version"/> 
    	<property name="sqlMigrationPrefix" value="v"/> 
    	<property name="sqlMigrationSeparator" value="_"/>
    	<property name="encoding" value="ISO-8859-1"/> 
    	<property name="validateOnMigrate" value="true"/>
	</bean>
	
	 <bean id="transactionManager" 
			 	name="transactionManager"   
		        class="org.springframework.jdbc.datasource.DataSourceTransactionManager" 
		        lazy-init="false">
         <property name="dataSource" ref="springDataSource"/>
     </bean>  
      
      <bean id="clienteController" name="clienteController" class="curso.angular.controller.ClienteController">
      		<constructor-arg value="curso.angular.model.Cliente"/>
      </bean>

	<bean id="estadosController" name="estadosController" class="curso.angular.controller.EstadosController">
		<constructor-arg value="curso.angular.model.Estados" />
	</bean>

	<bean id="cidadesController" name="cidadesController" class="curso.angular.controller.CidadesController">
		<constructor-arg value="curso.angular.model.Cidades" />
	</bean>
	
	<bean id="fornecedorController" name="fornecedorController" class="curso.angular.controller.FornecedorController">
		<constructor-arg value="curso.angular.model.Fornecedor" />
	</bean>
	
	<bean id="livroController" name="livroController" class="curso.angular.controller.LivroController">
		<constructor-arg value="curso.angular.model.Livro" />
	</bean>
	
	<bean id="itemPedidoController" name="itemPedidoController" class="curso.angular.controller.ItemPedidoController">
		<constructor-arg value="curso.angular.model.ItemPedido" />
	</bean>
	
	<bean id="pedidoController" name="pedidoController" class="curso.angular.controller.PedidoController">
		<constructor-arg value="curso.angular.model.Pedido" />
	</bean>
	
	<bean id="fileDownloadController" name="fileDownloadController" class="curso.angular.controller.FileDownloadController">
	</bean>
	
	<bean id="reportUtil" name="reportUtil" class="curso.angular.controller.ReportUtil">
	</bean>
      
</beans>