<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/datasouce</property>
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.current_session_context_class">thread</property> <!-- Contexto de sessão a ser usado -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> <!-- Delegada as transações (JDBC) a bases de dados (Padrão) -->
		<property name="hibernate.jdbc.factory_class">org.hibernate.jdbc.NonBatchingBatcherFactory</property><!-- Selecione um org.hibernate.jdbc.Batcher personalizado -->
		<property name="hibernate.jdbc.batch_size">100</property> <!-- Lote de SQL -->
		<property name="hibernate.cache.use_second_level_cache">true</property> <!-- Cache -->
		<property name="hibernate.transaction.auto_close_session">true</property> <!-- Fecha sessão automaticamente -->
		<property name="hibernate.hbm2ddl.auto">update</property> 
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">false</property> <!-- Estatisticas de processos SQL -->
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.connection.autocommit">false</property>  <!-- Commit Automatico -->
		<property name="hibernate.connection.pool_size">50</property> <!-- Poll de conexão -->


	    <mapping class="curso.angular.model.Estados" />
	    <mapping class="curso.angular.model.Cidades" />
		<mapping class="curso.angular.model.Cliente" />
		<mapping class="curso.angular.model.Fornecedor" />
		<mapping class="curso.angular.model.Livro" />
		<mapping class="curso.angular.model.Pedido" />
		<mapping class="curso.angular.model.ItemPedido" />
		
		
	</session-factory>
</hibernate-configuration>
